* {
  box-sizing: border-box;
}

.landing * {
  transition: all .3s ease;
}

body.landing {
  font-family:'PT Sans', sans-serif;
  min-width: 768px;
  background-color: #FAFAFA;
}

body.landing.bg {
  background-image: url(../images/mockup/mockup-1440.png);
  background-repeat: no-repeat;
  background-position: top center;
}

.landing.menubar {
  top: 0;
  left: 0;
  min-width: 768px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.landing.menubar div {
  max-width: 1440px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}

.landingWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  width: 1440px;
  margin: 0 auto;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

.box {
  position: relative;
  width: 1440px;
  height: 800px;
}

.box section {
  position: absolute;
  top: 191px;
}

.box h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
}

.box p {
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  line-height: 36px;
  margin-top: 27px;
}

.box footer {
  margin-top: 703px;
  line-height: 36px;;
}

.box footer p {
  font-size: 16px;
}

.box.left {
  background-color: #fcfffe;
}

.box.right,
.box.center {
  background-color: #879696;
  color: white;
}

.box.center {
  text-align: center;
}

.box.center p {
  margin-top: 27px;
}

.box.center section {
  width: 100%;
}

.box.left section {
  left: 160px;
}

.box.right section {
  right: 224px;
}

.box section figure {
  margin-top: 56px;
  width: 30px;
  height: 4px;
  background-color: #50E3C2;
}

.box.left section figure {
  margin-top: 58px;
}

.box.right section figure {
  margin-top: 56px;
}

.mockup {
  background-size: cover;
  position: absolute;
}

#mockup1 {
  top: 233px;
  right: 160px;
  width: 530px;
  height: 567px;
  background-image: url(../images/landing/retina/about-artboard@2x.png);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

#mockup2 {
  top: 192px;
  left: 160px;
  width: 140px;
  height: 317px;
  background-image: url(../images/landing/retina/about@2x.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#mockup3 {
  top: 192px;
  left: 333px;
  width: 140px;
  height: 395px;
  background-image: url(../images/landing/retina/works@2x.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#mockup4 {
  top: 192px;
  left: 506px;
  width: 140px;
  height: 474px;
  background-image: url(../images/landing/retina/work@2x.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#mockup5 {
  top: 342px;
  right: 40px;
  width: 761px;
  height: 404px;
  background-image: url(../images/landing/retina/screens@2x.png);
}

@media screen and (max-width: 1440px) {
  .landingWrapper {
    width: 100%;
  }
}

@media screen and (max-width: 1180px) {

  body.landing.bg {
    background-image: url(../images/mockup/mockup-1179.png);
  }

  .box {
    width: 1180px;
    height: 568px;
    overflow: hidden;
  }

  .box section {
    position: absolute;
    top: 137px;
  }

  .box h2 {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
  }

  .box p {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin-top: 18px;
  }

  .box footer {
    margin-top: 491px;
    line-height: 36px;;
  }

  .box footer p {
    font-size: 13px;
  }

  .box.left {
    background-color: #fcfffe;
  }

  .box.right,
  .box.center {
    background-color: #879696;
    color: white;
  }

  .box.center {
    text-align: center;
  }

  .box.center p {
    margin-top: 18px;
  }

  .box.center section {
    width: 100%;
  }

  .box.left section {
    left: 192px;
  }

  .box.right section {
    right: 219px;
  }

  .box section figure {
    margin-top: 56px;
    width: 22px;
    height: 3px;
    background-color: #50E3C2;
  }

  .box.left section figure {
    margin-top: 42px;
  }

  .box.right section figure {
    margin-top: 42px;
  }

  .mockup {
    background-size: cover;
    position: absolute;
  }

  #mockup1 {
    top: 166px;
    right: 190px;
    width: 379px;
    height: 405px;
    background-image: url(../images/landing/retina/about-artboard@2x.png);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
  }

  #mockup2 {
    top: 138px;
    left: 192px;
    width: 100px;
    height: 227px;
    background-image: url(../images/landing/retina/about@2x.png);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  }

  #mockup3 {
    top: 138px;
    left: 316px;
    width: 100px;
    height: 282px;
    background-image: url(../images/landing/retina/works@2x.png);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  }

  #mockup4 {
    top: 138px;
    left: 438px;
    width: 100px;
    height: 339px;
    background-image: url(../images/landing/retina/work@2x.png);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  }

  #mockup5 {
    top: 243px;
    right: 107px;
    width: 540px;
    height: 287px;
    background-image: url(../images/landing/retina/screens@2x.png);
  }

@media screen and (max-width: 840px) {

  body.landing.bg {
    background-image: url(../images/mockup/mockup-839.png);
  }

  .box {
    width: 840px;
    height: 1024px;
  }

  .box section {
    position: absolute;
    top: 137px;
  }

  .box h2 {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
  }

  .box p {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin-top: 18px;
  }

  .box footer {
    margin-top: 949px;
    line-height: 33px;;
  }

  .box footer p {
    font-size: 13px;
  }

  .box.left {
    background-color: #fcfffe;
  }

  .box.right,
  .box.center {
    background-color: #879696;
    color: white;
  }

  .box.center {
    text-align: center;
  }

  .box.center p {
    margin-top: 18px;
  }

  .box.center section {
    top: 187px;
    width: 100%;
  }

  .box.left section {
    left: 150px;
  }

  .box.right section {
    right: 177px;
  }

  .box section figure {
    margin-top: 56px;
    width: 22px;
    height: 3px;
    background-color: #50E3C2;
  }

  .box.left section figure {
    margin-top: 42px;
  }

  .box.right section figure {
    margin-top: 42px;
  }

  .mockup {
    background-size: cover;
    position: absolute;
  }

  #mockup1 {
    top: 485px;
    right: 150px;
    width: 543px;
    height: 581px;
    background-image: url(../images/landing/retina/about-artboard@2x.png);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
  }

  #mockup2 {
    top: 456px;
    left: 175px;
    width: 140px;
    height: 317px;
    background-image: url(../images/landing/retina/about@2x.png);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  }

  #mockup3 {
    top: 456px;
    left: 348px;
    width: 140px;
    height: 395px;
    background-image: url(../images/landing/retina/works@2x.png);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  }

  #mockup4 {
    top: 456px;
    left: 521px;
    width: 140px;
    height: 475px;
    background-image: url(../images/landing/retina/work@2x.png);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  }

  #mockup5 {
    top: 505px;
    left: 156px;
    width: 761px;
    height: 404px;
    background-image: url(../images/landing/retina/screens@2x.png);
  }
}
