body {
  width: 100%;
  min-width: 768px;
  font-family: 'PT Sans', sans-serif;
}

body.landing {
  background-color: #FAFAFA;
}

body.landing .menubar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  min-width: 768px;
}

body.landing .menubar div {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
}
