.menubar {
<<<<<<< HEAD
  position: fixed;
  top: 0px;
  width: 100%;
  height: 59px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  z-index: 1;
}

.logo {
  display: block;
  width: 86px;
  height: 59px;
  background-image: url(../images/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1180px) {
  .landingWrapper {
    width: 100%;
  }

  .menubar {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
    z-index: 1;
  }

  .logo {
    display: block;
    width: 61px;
    height: 41px;
    background-image: url(../images/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
  }

=======
width: 100%;
z-index: 1;
box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}

.menubar div{
display: flex;
justify-content: center;
align-items: center;
height: 20px;
padding: 20px;
}

.logo {
display: block;
width: 84px;
height: 25px;
background-image: url(../images/logo.svg);
background-repeat: no-repeat;
>>>>>>> origin/master
}
